@media (max-width:1053px){
body{
        flex-wrap: wrap;
        margin: auto;
}
        .projetos{
        margin: auto;
        margin-top: 15px;
}
.nome{
        flex-wrap: wrap;
}
.foto-P{
     position: static;

}
}
@media (max-width:525px){
        .foto-P{
                width: 150px;
                height: 230px;
                margin: auto;
                margin-right: 5px;
        }
}
@media (max-width:380px){
        .foto-P{
                width: 150px;
                height: 230px;
                margin: auto;
                margin-right: -15px;
        }
   
}