.nome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin: 100px;
  font-family: "Cardo", serif;
  font-weight: 700;
  font-style: normal;
  z-index: 0;
}
.texto-P {
  font-size: 35pt;

  font-family: "Atteron", serif;
  width: 750px;
  text-align: center;
  margin: auto;
  letter-spacing: 10px;
  margin-top: -100px;
}
.foto-P {
  text-align: center;
}
.foto-P img {
  width: 250px;
  height: 430px;
  z-index: 1;
  margin-top: -30px;
  border-radius: 3px;
}
.formacao {
  margin-top: 300px;
  font-size: 40pt;
  font-family: "Atteron", serif;
  font-weight: 700;
  letter-spacing: 10px;
  margin-left: 80px;
}
.academia{
  margin-top: 250px;
  font-family: "Cardo", serif;
  letter-spacing: 3px;

}
.academia h1{
  font-size: 18pt;
}
.academia p{
  margin-top: 15px;
  font-size: 12pt;
  font-family: "Cardo", serif;
  letter-spacing: 3px;
}
.academia2{
  margin-top: 50px;
  font-family: "Cardo", serif;
  letter-spacing: 3px;
  font-family: "Cardo", serif;

}
.academia2{
  font-size: 18pt;
}